-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bitacora_uvm
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividad` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `seccion_id` int(10) unsigned NOT NULL,
  `parcial_id` tinyint(3) unsigned NOT NULL,
  `componente` enum('blackboard','continua') NOT NULL,
  `origen` enum('blackboard','teams','manual') NOT NULL DEFAULT 'manual',
  `nombre` varchar(160) NOT NULL,
  `peso_en_componente` decimal(5,2) NOT NULL,
  `referencia_externa` varchar(120) DEFAULT NULL,
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_act_unique` (`seccion_id`,`parcial_id`,`componente`,`nombre`),
  KEY `ix_act_seccion_parcial` (`seccion_id`,`parcial_id`),
  KEY `fk_act_parcial` (`parcial_id`),
  CONSTRAINT `fk_act_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_act_seccion` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `area`
--

DROP TABLE IF EXISTS `area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `area` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_area_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area`
--

LOCK TABLES `area` WRITE;
/*!40000 ALTER TABLE `area` DISABLE KEYS */;
INSERT INTO `area` VALUES (1,'Ingenieria','activa','2026-01-06 12:28:35','2026-01-06 12:28:35'),(2,'Ciencias de la salud','activa','2026-01-06 12:28:35','2026-01-06 12:28:35'),(3,'Ciencias sociales','activa','2026-01-06 12:28:35','2026-01-06 12:28:35'),(4,'Dise├▒o y arquitectura','activa','2026-01-06 12:28:35','2026-01-06 12:28:35'),(5,'Turismo, hospitalidad y gastronomia','activa','2026-01-06 12:28:35','2026-01-06 12:28:35'),(6,'Negocios','activa','2026-01-06 12:28:35','2026-01-06 12:28:35');
/*!40000 ALTER TABLE `area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `area_docente_tc`
--

DROP TABLE IF EXISTS `area_docente_tc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `area_docente_tc` (
  `area_id` int(10) unsigned NOT NULL,
  `usuario_id` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`area_id`),
  UNIQUE KEY `ux_adtc_usuario` (`usuario_id`),
  CONSTRAINT `fk_adtc_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_adtc_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area_docente_tc`
--

LOCK TABLES `area_docente_tc` WRITE;
/*!40000 ALTER TABLE `area_docente_tc` DISABLE KEYS */;
INSERT INTO `area_docente_tc` VALUES (1,58,'2026-01-06 12:29:14','2026-01-06 12:29:14'),(2,59,'2026-01-06 12:29:14','2026-01-06 12:29:14'),(3,60,'2026-01-06 12:29:14','2026-01-06 12:29:14'),(4,61,'2026-01-06 12:29:14','2026-01-06 12:29:14'),(5,62,'2026-01-06 12:29:14','2026-01-06 12:29:14'),(6,63,'2026-01-06 12:29:14','2026-01-06 12:29:14');
/*!40000 ALTER TABLE `area_docente_tc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificacion_actividad`
--

DROP TABLE IF EXISTS `calificacion_actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calificacion_actividad` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `actividad_id` int(10) unsigned NOT NULL,
  `inscripcion_id` int(10) unsigned NOT NULL,
  `calificacion` decimal(5,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_cal_act` (`actividad_id`,`inscripcion_id`),
  KEY `ix_cal_insc` (`inscripcion_id`),
  CONSTRAINT `fk_cal_act_actividad` FOREIGN KEY (`actividad_id`) REFERENCES `actividad` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cal_act_insc` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion_actividad`
--

LOCK TABLES `calificacion_actividad` WRITE;
/*!40000 ALTER TABLE `calificacion_actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `calificacion_actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificacion_examen_final`
--

DROP TABLE IF EXISTS `calificacion_examen_final`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calificacion_examen_final` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `inscripcion_id` int(10) unsigned NOT NULL,
  `calificacion` decimal(5,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_ex_final` (`inscripcion_id`),
  CONSTRAINT `fk_exfin_insc` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion_examen_final`
--

LOCK TABLES `calificacion_examen_final` WRITE;
/*!40000 ALTER TABLE `calificacion_examen_final` DISABLE KEYS */;
/*!40000 ALTER TABLE `calificacion_examen_final` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificacion_examen_parcial`
--

DROP TABLE IF EXISTS `calificacion_examen_parcial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calificacion_examen_parcial` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `inscripcion_id` int(10) unsigned NOT NULL,
  `parcial_id` tinyint(3) unsigned NOT NULL,
  `calificacion` decimal(5,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_ex_parcial` (`inscripcion_id`,`parcial_id`),
  KEY `fk_expar_parcial` (`parcial_id`),
  CONSTRAINT `fk_expar_insc` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_expar_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion_examen_parcial`
--

LOCK TABLES `calificacion_examen_parcial` WRITE;
/*!40000 ALTER TABLE `calificacion_examen_parcial` DISABLE KEYS */;
/*!40000 ALTER TABLE `calificacion_examen_parcial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera`
--

DROP TABLE IF EXISTS `carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carrera` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_carrera` varchar(120) NOT NULL,
  `codigo_carrera` varchar(80) NOT NULL,
  `area_id` int(10) unsigned NOT NULL,
  `coordinador_id` int(10) unsigned DEFAULT NULL,
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_carrera_codigo` (`codigo_carrera`),
  KEY `ix_carrera_area_id` (`area_id`),
  KEY `ix_carrera_coordinador_id` (`coordinador_id`),
  CONSTRAINT `fk_carrera_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_carrera_coordinador` FOREIGN KEY (`coordinador_id`) REFERENCES `usuario` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera`
--

LOCK TABLES `carrera` WRITE;
/*!40000 ALTER TABLE `carrera` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera_materia`
--

DROP TABLE IF EXISTS `carrera_materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carrera_materia` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `carrera_id` int(10) unsigned NOT NULL,
  `materia_id` int(10) unsigned NOT NULL,
  `num_semestre` tinyint(3) unsigned NOT NULL,
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_carrera_materia` (`carrera_id`,`materia_id`),
  KEY `ix_cm_carrera_semestre` (`carrera_id`,`num_semestre`),
  KEY `fk_cm_materia` (`materia_id`),
  CONSTRAINT `fk_cm_carrera` FOREIGN KEY (`carrera_id`) REFERENCES `carrera` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cm_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera_materia`
--

LOCK TABLES `carrera_materia` WRITE;
/*!40000 ALTER TABLE `carrera_materia` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrera_materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coordinador_profile`
--

DROP TABLE IF EXISTS `coordinador_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coordinador_profile` (
  `usuario_id` int(10) unsigned NOT NULL,
  `area_id` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`usuario_id`),
  KEY `ix_coord_area_id` (`area_id`),
  CONSTRAINT `fk_coord_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_coord_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coordinador_profile`
--

LOCK TABLES `coordinador_profile` WRITE;
/*!40000 ALTER TABLE `coordinador_profile` DISABLE KEYS */;
INSERT INTO `coordinador_profile` VALUES (2,1,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(3,2,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(4,3,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(5,4,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(6,5,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(7,6,'2026-01-06 12:28:35','2026-01-06 12:28:35');
/*!40000 ALTER TABLE `coordinador_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docente_profile`
--

DROP TABLE IF EXISTS `docente_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `docente_profile` (
  `usuario_id` int(10) unsigned NOT NULL,
  `categoria` enum('general','tiempo_completo') NOT NULL DEFAULT 'general',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`usuario_id`),
  CONSTRAINT `fk_doc_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docente_profile`
--

LOCK TABLES `docente_profile` WRITE;
/*!40000 ALTER TABLE `docente_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `docente_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estudiante_profile`
--

DROP TABLE IF EXISTS `estudiante_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estudiante_profile` (
  `usuario_id` int(10) unsigned NOT NULL,
  `carrera_id` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`usuario_id`),
  KEY `ix_est_carrera_id` (`carrera_id`),
  CONSTRAINT `fk_est_carrera` FOREIGN KEY (`carrera_id`) REFERENCES `carrera` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_est_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estudiante_profile`
--

LOCK TABLES `estudiante_profile` WRITE;
/*!40000 ALTER TABLE `estudiante_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `estudiante_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examen`
--

DROP TABLE IF EXISTS `examen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `seccion_id` int(10) unsigned NOT NULL,
  `materia_id` int(10) unsigned NOT NULL,
  `creado_por` int(10) unsigned NOT NULL,
  `tipo` enum('parcial','final') NOT NULL,
  `parcial_id` tinyint(3) unsigned DEFAULT NULL,
  `fecha_inicio` datetime NOT NULL,
  `duracion_min` smallint(5) unsigned NOT NULL,
  `intentos_max` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `modo_armado` enum('manual','random') NOT NULL DEFAULT 'random',
  `num_preguntas` smallint(5) unsigned NOT NULL,
  `dificultad_min` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `dificultad_max` tinyint(3) unsigned NOT NULL DEFAULT 10,
  `mezclar_preguntas` tinyint(1) NOT NULL DEFAULT 1,
  `mezclar_opciones` tinyint(1) NOT NULL DEFAULT 1,
  `estado` enum('borrador','programado','activo','cerrado','archivado') NOT NULL DEFAULT 'borrador',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ix_examen_seccion` (`seccion_id`,`tipo`,`parcial_id`,`estado`),
  KEY `fk_ex_materia` (`materia_id`),
  KEY `fk_ex_creado_por` (`creado_por`),
  KEY `fk_ex_parcial` (`parcial_id`),
  CONSTRAINT `fk_ex_creado_por` FOREIGN KEY (`creado_por`) REFERENCES `usuario` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_ex_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_ex_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_ex_seccion` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examen`
--

LOCK TABLES `examen` WRITE;
/*!40000 ALTER TABLE `examen` DISABLE KEYS */;
/*!40000 ALTER TABLE `examen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examen_intento`
--

DROP TABLE IF EXISTS `examen_intento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examen_intento` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `examen_id` bigint(20) unsigned NOT NULL,
  `inscripcion_id` int(10) unsigned NOT NULL,
  `intento_num` tinyint(3) unsigned NOT NULL,
  `inicio_real` datetime DEFAULT NULL,
  `fin_real` datetime DEFAULT NULL,
  `estado` enum('pendiente','en_progreso','enviado','revisado','anulado') NOT NULL DEFAULT 'pendiente',
  `calif_auto` decimal(6,2) DEFAULT NULL,
  `calif_manual` decimal(6,2) DEFAULT NULL,
  `calif_final` decimal(6,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_intento` (`examen_id`,`inscripcion_id`,`intento_num`),
  KEY `ix_intento_insc` (`inscripcion_id`),
  CONSTRAINT `fk_ei_ex` FOREIGN KEY (`examen_id`) REFERENCES `examen` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ei_insc` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examen_intento`
--

LOCK TABLES `examen_intento` WRITE;
/*!40000 ALTER TABLE `examen_intento` DISABLE KEYS */;
INSERT INTO `examen_intento` VALUES (1,3,213,1,'2026-01-06 14:12:10','2026-01-06 14:15:16','enviado',0.67,NULL,NULL,'2026-01-06 14:12:10','2026-01-06 14:12:10'),(2,5,213,1,'2026-01-06 15:31:45','2026-01-06 15:33:15','enviado',4.00,NULL,NULL,'2026-01-06 15:31:45','2026-01-06 15:31:45'),(3,6,213,1,'2026-01-06 16:44:04','2026-01-06 16:44:40','enviado',4.00,NULL,NULL,'2026-01-06 16:44:04','2026-01-06 16:44:04');
/*!40000 ALTER TABLE `examen_intento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examen_intento_pregunta`
--

DROP TABLE IF EXISTS `examen_intento_pregunta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examen_intento_pregunta` (
  `examen_intento_id` bigint(20) unsigned NOT NULL,
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `orden` smallint(5) unsigned NOT NULL,
  `opciones_orden_json` longtext DEFAULT NULL,
  PRIMARY KEY (`examen_intento_id`,`pregunta_version_id`),
  KEY `ix_eip_orden` (`examen_intento_id`,`orden`),
  KEY `fk_eip_pv` (`pregunta_version_id`),
  CONSTRAINT `fk_eip_ei` FOREIGN KEY (`examen_intento_id`) REFERENCES `examen_intento` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_eip_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examen_intento_pregunta`
--

LOCK TABLES `examen_intento_pregunta` WRITE;
/*!40000 ALTER TABLE `examen_intento_pregunta` DISABLE KEYS */;
/*!40000 ALTER TABLE `examen_intento_pregunta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examen_pregunta`
--

DROP TABLE IF EXISTS `examen_pregunta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examen_pregunta` (
  `examen_id` bigint(20) unsigned NOT NULL,
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `puntos` decimal(6,2) NOT NULL DEFAULT 1.00,
  `orden_base` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`examen_id`,`pregunta_version_id`),
  KEY `ix_ep_orden` (`examen_id`,`orden_base`),
  KEY `fk_ep_pv` (`pregunta_version_id`),
  CONSTRAINT `fk_ep_ex` FOREIGN KEY (`examen_id`) REFERENCES `examen` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ep_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examen_pregunta`
--

LOCK TABLES `examen_pregunta` WRITE;
/*!40000 ALTER TABLE `examen_pregunta` DISABLE KEYS */;
/*!40000 ALTER TABLE `examen_pregunta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examen_respuesta`
--

DROP TABLE IF EXISTS `examen_respuesta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examen_respuesta` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `examen_intento_id` bigint(20) unsigned NOT NULL,
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `respuesta_json` longtext DEFAULT NULL,
  `respuesta_texto` longtext DEFAULT NULL,
  `puntaje_auto` decimal(6,2) DEFAULT NULL,
  `puntaje_manual` decimal(6,2) DEFAULT NULL,
  `estado_revision` enum('pendiente','revisada') NOT NULL DEFAULT 'pendiente',
  `feedback` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_resp` (`examen_intento_id`,`pregunta_version_id`),
  KEY `fk_er_pv` (`pregunta_version_id`),
  CONSTRAINT `fk_er_ei` FOREIGN KEY (`examen_intento_id`) REFERENCES `examen_intento` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_er_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examen_respuesta`
--

LOCK TABLES `examen_respuesta` WRITE;
/*!40000 ALTER TABLE `examen_respuesta` DISABLE KEYS */;
/*!40000 ALTER TABLE `examen_respuesta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscripcion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `seccion_id` int(10) unsigned NOT NULL,
  `estudiante_id` int(10) unsigned NOT NULL,
  `estado` enum('inscrito','baja') NOT NULL DEFAULT 'inscrito',
  `metodo` enum('presencial','linea') NOT NULL DEFAULT 'presencial',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_inscripcion` (`seccion_id`,`estudiante_id`),
  KEY `ix_insc_seccion_id` (`seccion_id`),
  KEY `ix_insc_estudiante_id` (`estudiante_id`),
  CONSTRAINT `fk_insc_estudiante` FOREIGN KEY (`estudiante_id`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_insc_seccion` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=261 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia`
--

DROP TABLE IF EXISTS `materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materia` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_materia` varchar(100) NOT NULL,
  `codigo_materia` varchar(80) NOT NULL,
  `tipo_evaluacion` enum('teorica','practica') NOT NULL DEFAULT 'teorica',
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_materia_codigo` (`codigo_materia`),
  KEY `ix_materia_nombre` (`nombre_materia`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia`
--

LOCK TABLES `materia` WRITE;
/*!40000 ALTER TABLE `materia` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia_area`
--

DROP TABLE IF EXISTS `materia_area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materia_area` (
  `materia_id` int(10) unsigned NOT NULL,
  `area_id` int(10) unsigned NOT NULL,
  `es_estandarizable` tinyint(1) NOT NULL DEFAULT 1,
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`materia_id`,`area_id`),
  KEY `ix_ma_area` (`area_id`),
  CONSTRAINT `fk_ma_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ma_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia_area`
--

LOCK TABLES `materia_area` WRITE;
/*!40000 ALTER TABLE `materia_area` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia_area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parcial`
--

DROP TABLE IF EXISTS `parcial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parcial` (
  `id` tinyint(3) unsigned NOT NULL,
  `nombre` varchar(20) NOT NULL,
  `orden` tinyint(3) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_parcial_orden` (`orden`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parcial`
--

LOCK TABLES `parcial` WRITE;
/*!40000 ALTER TABLE `parcial` DISABLE KEYS */;
INSERT INTO `parcial` VALUES (1,'Parcial 1',1,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(2,'Parcial 2',2,'2026-01-06 12:28:35','2026-01-06 12:28:35'),(3,'Parcial 3',3,'2026-01-06 12:28:35','2026-01-06 12:28:35');
/*!40000 ALTER TABLE `parcial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodo`
--

DROP TABLE IF EXISTS `periodo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periodo` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(60) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `estado` enum('planeado','activo','cerrado') NOT NULL DEFAULT 'planeado',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_periodo_codigo` (`codigo`),
  KEY `ix_periodo_fechas` (`fecha_inicio`,`fecha_fin`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodo`
--

LOCK TABLES `periodo` WRITE;
/*!40000 ALTER TABLE `periodo` DISABLE KEYS */;
INSERT INTO `periodo` VALUES (1,'2025-C1','Primavera','2025-02-20','2025-07-17','cerrado','2026-01-06 12:28:35','2026-01-06 12:28:35'),(2,'2025-C2','Oto├▒o','2025-08-18','2026-01-16','activo','2026-01-06 12:28:35','2026-01-06 12:29:12'),(3,'2026-C1','Primavera','2026-02-20','2026-07-17','planeado','2026-01-06 12:28:35','2026-01-06 12:28:35');
/*!40000 ALTER TABLE `periodo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregunta`
--

DROP TABLE IF EXISTS `pregunta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pregunta` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `materia_id` int(10) unsigned NOT NULL,
  `creada_por_usuario_id` int(10) unsigned NOT NULL,
  `estado` enum('pendiente','revision','aprobada','rechazada','archivada') NOT NULL DEFAULT 'pendiente',
  `version_actual_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ix_preg_materia_estado` (`materia_id`,`estado`),
  KEY `fk_preg_creador` (`creada_por_usuario_id`),
  KEY `fk_preg_version_actual` (`version_actual_id`),
  CONSTRAINT `fk_preg_creador` FOREIGN KEY (`creada_por_usuario_id`) REFERENCES `usuario` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_preg_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_preg_version_actual` FOREIGN KEY (`version_actual_id`) REFERENCES `pregunta_version` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregunta`
--

LOCK TABLES `pregunta` WRITE;
/*!40000 ALTER TABLE `pregunta` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregunta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregunta_version`
--

DROP TABLE IF EXISTS `pregunta_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pregunta_version` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pregunta_id` bigint(20) unsigned NOT NULL,
  `version_num` int(10) unsigned NOT NULL,
  `tipo` enum('opcion_multiple','verdadero_falso','abierta','relacionar','ordenar','completar','numerica') NOT NULL,
  `enunciado` longtext NOT NULL,
  `dificultad` tinyint(3) unsigned NOT NULL,
  `scope` enum('parcial','final') NOT NULL DEFAULT 'parcial',
  `parcial_id` tinyint(3) unsigned DEFAULT NULL,
  `contenido_json` longtext NOT NULL,
  `respuesta_json` longtext NOT NULL,
  `estado` enum('pendiente','revision','aprobada','rechazada','archivada') NOT NULL DEFAULT 'pendiente',
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_pv` (`pregunta_id`,`version_num`),
  KEY `ix_pv_filtro` (`tipo`,`dificultad`,`scope`,`parcial_id`),
  KEY `fk_pv_parcial` (`parcial_id`),
  KEY `fk_pv_created_by` (`created_by`),
  CONSTRAINT `fk_pv_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuario` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pv_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pv_preg` FOREIGN KEY (`pregunta_id`) REFERENCES `pregunta` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregunta_version`
--

LOCK TABLES `pregunta_version` WRITE;
/*!40000 ALTER TABLE `pregunta_version` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregunta_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregunta_version_area`
--

DROP TABLE IF EXISTS `pregunta_version_area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pregunta_version_area` (
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `area_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`pregunta_version_id`,`area_id`),
  KEY `ix_pva_area` (`area_id`),
  CONSTRAINT `fk_pva_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pva_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregunta_version_area`
--

LOCK TABLES `pregunta_version_area` WRITE;
/*!40000 ALTER TABLE `pregunta_version_area` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregunta_version_area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregunta_version_tema`
--

DROP TABLE IF EXISTS `pregunta_version_tema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pregunta_version_tema` (
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `tema_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`pregunta_version_id`,`tema_id`),
  KEY `ix_pvt_tema` (`tema_id`),
  CONSTRAINT `fk_pvt_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pvt_tema` FOREIGN KEY (`tema_id`) REFERENCES `tema` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregunta_version_tema`
--

LOCK TABLES `pregunta_version_tema` WRITE;
/*!40000 ALTER TABLE `pregunta_version_tema` DISABLE KEYS */;
INSERT INTO `pregunta_version_tema` VALUES (1,36),(2,36),(2,81),(3,81),(4,81),(4,126),(5,126),(6,126),(6,171),(7,171);
/*!40000 ALTER TABLE `pregunta_version_tema` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregunta_voto`
--

DROP TABLE IF EXISTS `pregunta_voto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pregunta_voto` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pregunta_version_id` bigint(20) unsigned NOT NULL,
  `area_id` int(10) unsigned DEFAULT NULL,
  `votante_id` int(10) unsigned NOT NULL,
  `decision` enum('aprobar','rechazar','revision') NOT NULL,
  `comentario` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_voto_unico` (`pregunta_version_id`,`votante_id`),
  KEY `ix_voto_pv_area_dec` (`pregunta_version_id`,`area_id`,`decision`),
  KEY `fk_pvoto_area` (`area_id`),
  KEY `fk_pvoto_votante` (`votante_id`),
  CONSTRAINT `fk_pvoto_area` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pvoto_pv` FOREIGN KEY (`pregunta_version_id`) REFERENCES `pregunta_version` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pvoto_votante` FOREIGN KEY (`votante_id`) REFERENCES `usuario` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=218 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregunta_voto`
--

LOCK TABLES `pregunta_voto` WRITE;
/*!40000 ALTER TABLE `pregunta_voto` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregunta_voto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `id` tinyint(3) unsigned NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(120) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_rol_nombre` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'admin','Administrador','2026-01-06 12:28:35','2026-01-06 12:28:35'),(2,'coordinador','Coordinador de ├írea','2026-01-06 12:28:35','2026-01-06 12:28:35'),(3,'docente_tc','Docente tiempo completo','2026-01-06 12:28:35','2026-01-06 12:28:35'),(4,'docente_general','Docente general','2026-01-06 12:28:35','2026-01-06 12:28:35'),(5,'estudiante','Alumno','2026-01-06 12:28:35','2026-01-06 12:28:35');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seccion`
--

DROP TABLE IF EXISTS `seccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seccion` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `materia_id` int(10) unsigned NOT NULL,
  `carrera_id` int(10) unsigned NOT NULL,
  `periodo_id` int(10) unsigned NOT NULL,
  `grupo` varchar(10) NOT NULL,
  `docente_id` int(10) unsigned DEFAULT NULL,
  `modalidad` enum('presencial','linea','mixta') NOT NULL DEFAULT 'presencial',
  `estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_seccion_unique` (`materia_id`,`carrera_id`,`periodo_id`,`grupo`),
  KEY `ix_seccion_materia_id` (`materia_id`),
  KEY `ix_seccion_carrera_id` (`carrera_id`),
  KEY `ix_seccion_periodo_id` (`periodo_id`),
  KEY `ix_seccion_docente_id` (`docente_id`),
  CONSTRAINT `fk_seccion_carrera` FOREIGN KEY (`carrera_id`) REFERENCES `carrera` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_seccion_docente` FOREIGN KEY (`docente_id`) REFERENCES `usuario` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_seccion_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_seccion_periodo` FOREIGN KEY (`periodo_id`) REFERENCES `periodo` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seccion`
--

LOCK TABLES `seccion` WRITE;
/*!40000 ALTER TABLE `seccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `seccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seccion_componente`
--

DROP TABLE IF EXISTS `seccion_componente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seccion_componente` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `seccion_id` int(10) unsigned NOT NULL,
  `tipo` enum('continua','blackboard','examen') NOT NULL,
  `crn` varchar(30) NOT NULL,
  `peso_porcentaje` decimal(5,2) DEFAULT NULL,
  `estado` enum('activo','inactivo') NOT NULL DEFAULT 'activo',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_sc_seccion_tipo` (`seccion_id`,`tipo`),
  UNIQUE KEY `ux_sc_crn` (`crn`),
  KEY `ix_sc_seccion_id` (`seccion_id`),
  CONSTRAINT `fk_sc_seccion` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seccion_componente`
--

LOCK TABLES `seccion_componente` WRITE;
/*!40000 ALTER TABLE `seccion_componente` DISABLE KEYS */;
/*!40000 ALTER TABLE `seccion_componente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seccion_parcial_config`
--

DROP TABLE IF EXISTS `seccion_parcial_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seccion_parcial_config` (
  `seccion_id` int(10) unsigned NOT NULL,
  `parcial_id` tinyint(3) unsigned NOT NULL,
  `peso_semestre` decimal(5,2) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`seccion_id`,`parcial_id`),
  KEY `fk_spc_parcial` (`parcial_id`),
  CONSTRAINT `fk_spc_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_spc_seccion` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seccion_parcial_config`
--

LOCK TABLES `seccion_parcial_config` WRITE;
/*!40000 ALTER TABLE `seccion_parcial_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `seccion_parcial_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tema`
--

DROP TABLE IF EXISTS `tema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tema` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `materia_id` int(10) unsigned NOT NULL,
  `parcial_id` tinyint(3) unsigned DEFAULT NULL,
  `nombre` varchar(120) NOT NULL,
  `estado` enum('activo','inactivo') NOT NULL DEFAULT 'activo',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_tema` (`materia_id`,`parcial_id`,`nombre`),
  KEY `ix_tema_materia_parcial` (`materia_id`,`parcial_id`),
  KEY `fk_tema_parcial` (`parcial_id`),
  CONSTRAINT `fk_tema_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tema_parcial` FOREIGN KEY (`parcial_id`) REFERENCES `parcial` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=271 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tema`
--

LOCK TABLES `tema` WRITE;
/*!40000 ALTER TABLE `tema` DISABLE KEYS */;
/*!40000 ALTER TABLE `tema` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `rol_id` tinyint(3) unsigned NOT NULL,
  `nombre_completo` varchar(120) NOT NULL,
  `correo` varchar(180) NOT NULL,
  `matricula` bigint(20) unsigned NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `estado` enum('activo','inactivo') NOT NULL DEFAULT 'activo',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_usuario_correo` (`correo`),
  UNIQUE KEY `ux_usuario_matricula` (`matricula`),
  KEY `ix_usuario_rol_id` (`rol_id`),
  CONSTRAINT `fk_usuario_rol` FOREIGN KEY (`rol_id`) REFERENCES `rol` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_componente_parcial_alumno`
--

DROP TABLE IF EXISTS `vw_componente_parcial_alumno`;
/*!50001 DROP VIEW IF EXISTS `vw_componente_parcial_alumno`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_componente_parcial_alumno` AS SELECT
 1 AS `inscripcion_id`,
  1 AS `seccion_id`,
  1 AS `parcial_id`,
  1 AS `componente`,
  1 AS `calificacion_componente` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_docente_clases_alumnos`
--

DROP TABLE IF EXISTS `vw_docente_clases_alumnos`;
/*!50001 DROP VIEW IF EXISTS `vw_docente_clases_alumnos`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_docente_clases_alumnos` AS SELECT
 1 AS `docente_id`,
  1 AS `seccion_id`,
  1 AS `grupo`,
  1 AS `modalidad`,
  1 AS `seccion_estado`,
  1 AS `periodo_id`,
  1 AS `periodo_codigo`,
  1 AS `carrera_id`,
  1 AS `codigo_carrera`,
  1 AS `nombre_carrera`,
  1 AS `materia_id`,
  1 AS `codigo_materia`,
  1 AS `nombre_materia`,
  1 AS `tipo_evaluacion`,
  1 AS `crn_continua`,
  1 AS `crn_blackboard`,
  1 AS `crn_examen`,
  1 AS `peso_continua_db`,
  1 AS `peso_blackboard_db`,
  1 AS `peso_examen_db`,
  1 AS `inscripcion_id`,
  1 AS `inscripcion_estado`,
  1 AS `estudiante_id`,
  1 AS `estudiante_nombre`,
  1 AS `estudiante_matricula`,
  1 AS `estudiante_correo`,
  1 AS `bb_calc`,
  1 AS `ec_calc`,
  1 AS `ex_parcial`,
  1 AS `final_parcial` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_final_parcial_alumno`
--

DROP TABLE IF EXISTS `vw_final_parcial_alumno`;
/*!50001 DROP VIEW IF EXISTS `vw_final_parcial_alumno`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_final_parcial_alumno` AS SELECT
 1 AS `inscripcion_id`,
  1 AS `seccion_id`,
  1 AS `parcial_id`,
  1 AS `bb_calc`,
  1 AS `ec_calc`,
  1 AS `ex_parcial`,
  1 AS `peso_bb`,
  1 AS `peso_ec`,
  1 AS `peso_ex`,
  1 AS `final_parcial` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_final_semestre_alumno`
--

DROP TABLE IF EXISTS `vw_final_semestre_alumno`;
/*!50001 DROP VIEW IF EXISTS `vw_final_semestre_alumno`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_final_semestre_alumno` AS SELECT
 1 AS `inscripcion_id`,
  1 AS `seccion_id`,
  1 AS `final_semestre` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_inscripcion_con_crn`
--

DROP TABLE IF EXISTS `vw_inscripcion_con_crn`;
/*!50001 DROP VIEW IF EXISTS `vw_inscripcion_con_crn`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_inscripcion_con_crn` AS SELECT
 1 AS `inscripcion_id`,
  1 AS `estudiante_id`,
  1 AS `estudiante_nombre`,
  1 AS `estudiante_correo`,
  1 AS `estudiante_matricula`,
  1 AS `seccion_id`,
  1 AS `codigo_materia`,
  1 AS `nombre_materia`,
  1 AS `codigo_carrera`,
  1 AS `nombre_carrera`,
  1 AS `periodo`,
  1 AS `grupo`,
  1 AS `modalidad`,
  1 AS `docente_id`,
  1 AS `componente_tipo`,
  1 AS `componente_crn` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_oferta_periodo`
--

DROP TABLE IF EXISTS `vw_oferta_periodo`;
/*!50001 DROP VIEW IF EXISTS `vw_oferta_periodo`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_oferta_periodo` AS SELECT
 1 AS `periodo`,
  1 AS `seccion_id`,
  1 AS `codigo_materia`,
  1 AS `nombre_materia`,
  1 AS `codigo_carrera`,
  1 AS `grupo`,
  1 AS `modalidad`,
  1 AS `estado`,
  1 AS `crn_continua`,
  1 AS `crn_blackboard`,
  1 AS `crn_examen` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_componente_parcial_alumno`
--

/*!50001 DROP VIEW IF EXISTS `vw_componente_parcial_alumno`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_componente_parcial_alumno` AS select `i`.`id` AS `inscripcion_id`,`a`.`seccion_id` AS `seccion_id`,`a`.`parcial_id` AS `parcial_id`,`a`.`componente` AS `componente`,round(sum(coalesce(`ca`.`calificacion`,0) * `a`.`peso_en_componente`) / 100,2) AS `calificacion_componente` from ((`actividad` `a` join `inscripcion` `i` on(`i`.`seccion_id` = `a`.`seccion_id` and `i`.`estado` = 'inscrito')) left join `calificacion_actividad` `ca` on(`ca`.`actividad_id` = `a`.`id` and `ca`.`inscripcion_id` = `i`.`id`)) where `a`.`estado` = 'activa' group by `i`.`id`,`a`.`seccion_id`,`a`.`parcial_id`,`a`.`componente` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_docente_clases_alumnos`
--

/*!50001 DROP VIEW IF EXISTS `vw_docente_clases_alumnos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_docente_clases_alumnos` AS select `s`.`docente_id` AS `docente_id`,`s`.`id` AS `seccion_id`,`s`.`grupo` AS `grupo`,`s`.`modalidad` AS `modalidad`,`s`.`estado` AS `seccion_estado`,`p`.`id` AS `periodo_id`,`p`.`codigo` AS `periodo_codigo`,`c`.`id` AS `carrera_id`,`c`.`codigo_carrera` AS `codigo_carrera`,`c`.`nombre_carrera` AS `nombre_carrera`,`m`.`id` AS `materia_id`,`m`.`codigo_materia` AS `codigo_materia`,`m`.`nombre_materia` AS `nombre_materia`,`m`.`tipo_evaluacion` AS `tipo_evaluacion`,max(case when `sc`.`tipo` = 'continua' then `sc`.`crn` end) AS `crn_continua`,max(case when `sc`.`tipo` = 'blackboard' then `sc`.`crn` end) AS `crn_blackboard`,max(case when `sc`.`tipo` = 'examen' then `sc`.`crn` end) AS `crn_examen`,max(case when `sc`.`tipo` = 'continua' then `sc`.`peso_porcentaje` end) AS `peso_continua_db`,max(case when `sc`.`tipo` = 'blackboard' then `sc`.`peso_porcentaje` end) AS `peso_blackboard_db`,max(case when `sc`.`tipo` = 'examen' then `sc`.`peso_porcentaje` end) AS `peso_examen_db`,`i`.`id` AS `inscripcion_id`,`i`.`estado` AS `inscripcion_estado`,`u`.`id` AS `estudiante_id`,`u`.`nombre_completo` AS `estudiante_nombre`,`u`.`matricula` AS `estudiante_matricula`,`u`.`correo` AS `estudiante_correo`,max(`fp`.`bb_calc`) AS `bb_calc`,max(`fp`.`ec_calc`) AS `ec_calc`,max(`fp`.`ex_parcial`) AS `ex_parcial`,max(`fp`.`final_parcial`) AS `final_parcial` from (((((((`seccion` `s` join `periodo` `p` on(`p`.`id` = `s`.`periodo_id`)) join `carrera` `c` on(`c`.`id` = `s`.`carrera_id`)) join `materia` `m` on(`m`.`id` = `s`.`materia_id`)) left join `seccion_componente` `sc` on(`sc`.`seccion_id` = `s`.`id` and `sc`.`estado` = 'activo')) left join `inscripcion` `i` on(`i`.`seccion_id` = `s`.`id` and `i`.`estado` = 'inscrito')) left join `usuario` `u` on(`u`.`id` = `i`.`estudiante_id`)) left join `vw_final_parcial_alumno` `fp` on(`fp`.`inscripcion_id` = `i`.`id` and `fp`.`parcial_id` = 1)) group by `s`.`docente_id`,`s`.`id`,`s`.`grupo`,`s`.`modalidad`,`s`.`estado`,`p`.`id`,`p`.`codigo`,`c`.`id`,`c`.`codigo_carrera`,`c`.`nombre_carrera`,`m`.`id`,`m`.`codigo_materia`,`m`.`nombre_materia`,`m`.`tipo_evaluacion`,`i`.`id`,`i`.`estado`,`u`.`id`,`u`.`nombre_completo`,`u`.`matricula`,`u`.`correo` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_final_parcial_alumno`
--

/*!50001 DROP VIEW IF EXISTS `vw_final_parcial_alumno`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_final_parcial_alumno` AS select `i`.`id` AS `inscripcion_id`,`s`.`id` AS `seccion_id`,`p`.`id` AS `parcial_id`,max(case when `v`.`componente` = 'blackboard' then `v`.`calificacion_componente` end) AS `bb_calc`,max(case when `v`.`componente` = 'continua' then `v`.`calificacion_componente` end) AS `ec_calc`,`ep`.`calificacion` AS `ex_parcial`,max(case when `sc`.`tipo` = 'blackboard' then `sc`.`peso_porcentaje` end) AS `peso_bb`,max(case when `sc`.`tipo` = 'continua' then `sc`.`peso_porcentaje` end) AS `peso_ec`,max(case when `sc`.`tipo` = 'examen' then `sc`.`peso_porcentaje` end) AS `peso_ex`,round((coalesce(max(case when `v`.`componente` = 'blackboard' then `v`.`calificacion_componente` end),0) * coalesce(max(case when `sc`.`tipo` = 'blackboard' then `sc`.`peso_porcentaje` end),0) + coalesce(max(case when `v`.`componente` = 'continua' then `v`.`calificacion_componente` end),0) * coalesce(max(case when `sc`.`tipo` = 'continua' then `sc`.`peso_porcentaje` end),0) + coalesce(`ep`.`calificacion`,0) * coalesce(max(case when `sc`.`tipo` = 'examen' then `sc`.`peso_porcentaje` end),0)) / 100,2) AS `final_parcial` from (((((`inscripcion` `i` join `seccion` `s` on(`s`.`id` = `i`.`seccion_id`)) join `parcial` `p` on(`p`.`id` in (1,2,3))) left join `vw_componente_parcial_alumno` `v` on(`v`.`inscripcion_id` = `i`.`id` and `v`.`parcial_id` = `p`.`id`)) left join `calificacion_examen_parcial` `ep` on(`ep`.`inscripcion_id` = `i`.`id` and `ep`.`parcial_id` = `p`.`id`)) left join `seccion_componente` `sc` on(`sc`.`seccion_id` = `s`.`id` and `sc`.`estado` = 'activo')) where `i`.`estado` = 'inscrito' group by `i`.`id`,`s`.`id`,`p`.`id`,`ep`.`calificacion` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_final_semestre_alumno`
--

/*!50001 DROP VIEW IF EXISTS `vw_final_semestre_alumno`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_final_semestre_alumno` AS select `i`.`id` AS `inscripcion_id`,`s`.`id` AS `seccion_id`,round(sum(coalesce(`fp`.`final_parcial`,0) * `spc`.`peso_semestre`) / 100 + coalesce(`ef`.`calificacion`,0) * 0.50,2) AS `final_semestre` from ((((`inscripcion` `i` join `seccion` `s` on(`s`.`id` = `i`.`seccion_id`)) left join `seccion_parcial_config` `spc` on(`spc`.`seccion_id` = `s`.`id`)) left join `vw_final_parcial_alumno` `fp` on(`fp`.`inscripcion_id` = `i`.`id` and `fp`.`parcial_id` = `spc`.`parcial_id`)) left join `calificacion_examen_final` `ef` on(`ef`.`inscripcion_id` = `i`.`id`)) where `i`.`estado` = 'inscrito' group by `i`.`id`,`s`.`id`,`ef`.`calificacion` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_inscripcion_con_crn`
--

/*!50001 DROP VIEW IF EXISTS `vw_inscripcion_con_crn`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_inscripcion_con_crn` AS select `i`.`id` AS `inscripcion_id`,`i`.`estudiante_id` AS `estudiante_id`,`u`.`nombre_completo` AS `estudiante_nombre`,`u`.`correo` AS `estudiante_correo`,`u`.`matricula` AS `estudiante_matricula`,`s`.`id` AS `seccion_id`,`m`.`codigo_materia` AS `codigo_materia`,`m`.`nombre_materia` AS `nombre_materia`,`c`.`codigo_carrera` AS `codigo_carrera`,`c`.`nombre_carrera` AS `nombre_carrera`,`p`.`codigo` AS `periodo`,`s`.`grupo` AS `grupo`,`s`.`modalidad` AS `modalidad`,`s`.`docente_id` AS `docente_id`,`sc`.`tipo` AS `componente_tipo`,`sc`.`crn` AS `componente_crn` from ((((((`inscripcion` `i` join `usuario` `u` on(`u`.`id` = `i`.`estudiante_id`)) join `seccion` `s` on(`s`.`id` = `i`.`seccion_id`)) join `materia` `m` on(`m`.`id` = `s`.`materia_id`)) join `carrera` `c` on(`c`.`id` = `s`.`carrera_id`)) join `periodo` `p` on(`p`.`id` = `s`.`periodo_id`)) join `seccion_componente` `sc` on(`sc`.`seccion_id` = `s`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_oferta_periodo`
--

/*!50001 DROP VIEW IF EXISTS `vw_oferta_periodo`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_oferta_periodo` AS select `p`.`codigo` AS `periodo`,`s`.`id` AS `seccion_id`,`m`.`codigo_materia` AS `codigo_materia`,`m`.`nombre_materia` AS `nombre_materia`,`c`.`codigo_carrera` AS `codigo_carrera`,`s`.`grupo` AS `grupo`,`s`.`modalidad` AS `modalidad`,`s`.`estado` AS `estado`,max(case when `sc`.`tipo` = 'continua' then `sc`.`crn` end) AS `crn_continua`,max(case when `sc`.`tipo` = 'blackboard' then `sc`.`crn` end) AS `crn_blackboard`,max(case when `sc`.`tipo` = 'examen' then `sc`.`crn` end) AS `crn_examen` from ((((`seccion` `s` join `periodo` `p` on(`p`.`id` = `s`.`periodo_id`)) join `materia` `m` on(`m`.`id` = `s`.`materia_id`)) join `carrera` `c` on(`c`.`id` = `s`.`carrera_id`)) left join `seccion_componente` `sc` on(`sc`.`seccion_id` = `s`.`id`)) group by `p`.`codigo`,`s`.`id`,`m`.`codigo_materia`,`m`.`nombre_materia`,`c`.`codigo_carrera`,`s`.`grupo`,`s`.`modalidad`,`s`.`estado` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 16:46:45
